#root,body,html{
  margin:0;
  height:100%;
}
body{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assests/20200403-154228.png);
  background-size: cover;
  counter-reset: list;
}

.counter-class::before{
  counter-increment: list;
  content:counter(list);
  display: grid;
  place-items: center;
  background-color: black;
  text-align: center;
  /* padding-top: ; */
  /* padding: 7px 5px 0px 5px ; */
  width:30px;
  height:30px;
  margin-right: 10px;
  border-radius: 50%;
  color:white;
}
